/* Enter your custom styles here #1E87E0*/
.highlight {
	background: #6ca3d8 !important;
	color: white !important;
}

.height10 {
	height: 10px !important;
	width: 10px !important;
}

.height15 {
	height: 15px !important;
	width: 15px !important;
}

.showBorder {
	border: 1px solid red;
	border-radius: 0.125rem;
}

.focusButton {
	background-color: #6ca3d8;
}

.leftSpace {
	padding-left: 10px;
}

.carOn {
	font-size: 18px;
	color: #000000;
	width: 96px;
	height: 60px;
	background-image: url(mime/carOn.png);
	background-repeat: no-repeat;
	background-color: Transparent;
	border: none;
	overflow: hidden;
	outline: none;
	padding-bottom: 14px;
}

.carOff {
	font-size: 18px;
	color: #ffffff;
	width: 96px;
	height: 60px;
	background-image: url(mime/carOn.png);
	background-repeat: no-repeat;
	background-color: Transparent;
	border: none;
	overflow: hidden;
	outline: none;
	padding-bottom: 14px;
}

.layoutWhite {
	background-color: white;
}

.whiteBackground {
	background: white;
	width: 98%;
	border: 3px solid white;
}

.colorGridwithBottom {
	background: #6ca3d8;
	border-bottom: 5px solid #6ca3d8;
}

.colorGridwithBorder {
	background: #6ca3d8;
	border-bottom: 5px solid #6ca3d8;
	border-top: 5px solid #6ca3d8;
}

.CarOn {
	display: inline-block;
	background-image: url("./mime/CarOn.png");
	background-repeat: no-repeat;
	box-sizing: content-box;
	padding: 0px;
}

.CarOff {
	display: inline-block;
	background-image: url("./mime/CarOff.png");
	background-repeat: no-repeat;
	box-sizing: content-box;
	padding: 0px;
}

.CarOn>div {
	background-color: transparent !important;
	background: transparent !important;
	border: 0px solid #bfbfbf;
	font-style: inherit;
	color: white;
	font-weight: bold;
}

.CarOff>div {
	background-color: transparent !important;
	background: transparent !important;
	border: 0px solid #bfbfbf;
	font-style: inherit;
	color: #6ca3d8;
	font-weight: bold;
}

.size1 {
	font-size: 1.5rem;
}

@media ( max-width :599px) {
	.size1 {
		font-size: 1rem;
	}
}

.cMessageBar {
	width: 98%;
	display: flex !important;
	align-items: flex-start !important;
	justify-content: flex-start !important;
	border: 2px solid orange;
	background: #fff99e;
	font-size: x-large;
	font-weight: bold;
	color: orange;
}

.helpIcon {
	color: orange;
	transform: rotate(180deg);
	font-style: italic;
}

.imageTile {
	width: 150px;
	height: 150px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border: 1px solid #cfcfcf;
	object-fit: cover;
}

​
.popList {
	font-family: inherit;
	font: -webkit-mini-control;
	padding-top: 0px;
	padding-bottom: 0px;
	font-weight: normal;
	font-size: 1 rem;
	width: 100%;
}

.tileBackground {
	background-image: url("css/mime/CarOn.png");
	background-repeat: no-repeat;
	background-size: contain;
}